.container {
  margin: 0 auto;
  width: 80%;
}

code {
  white-space: pre-wrap;
}

@media (max-width: 640px) {
  .container {
    width: 92%;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1280px;
  }
}
